html {
    font-size: 20px;
    background: url('./background.jpg') center top;
    background-size: cover;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
}

.key {
    border: 4px solid black;
    padding: 20px 10px;
    margin: 10px;
    border-radius: 9px;
    width: 10rem;
    text-align: center;
    transition: all .3s ease;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 0.5rem black;
}

.sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

kbd {
    display: block;
    font-size: 2rem;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }